h1 {
    text-align: center;
    color: red;
}

p {
    width: 800px;
    margin: 0 auto;
}

#main {
    color: brown;
    background-color:bisque;
}

.A {
    background-color: aquamarine;
}



